.flexContainer {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .flexContainer {
    flex-direction: row;
  }
}

.seatsContainer {
  flex-grow: 1;
}

.sidePanel {
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .sidePanel {
    width: 320px;
    margin-bottom: 0;
  }
}