/*Defino colores*/
:root {
  --color-background: #1a1a1a;
  --color-form-background: #2a2a2a;
  --color-input-background: #3a3a3a;
  --color-border: #4a4a4a;
  --color-text: #ffffff;
  --color-text-secondary: #d1d5db;
  --color-accent: #6366f1;
  --color-accent-hover: #4f46e5;
  --color-background-secondary: #dcdce2;
}

/* Estilos para la cabecera */
.App-header {
    background-color: var(--color-form-background);
    padding: 40px;
    text-align: center;
  }
  
  .App-header h1 {
    font-size: 2.5rem;
    color: var(--color-text);
  }

  .App-header h2 {
    font-size: 1.7rem;
    color: var(--color-text);
  }
  
  .App-header p {
    font-size: 1.2rem;
    color:var(--color-text-secondary);
  }
  
  .reserve-button {
    background-color: var(--color-accent);
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--color-text)
  }
  
  .reserve-button:hover {
    background-color: var(--color-accent-hover);
  }
  
  /* Sección de películas */
  .movies-section {
    padding: 40px;
  }
  
  .movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 30px;

  }
  
  .movie-card {
    background-color: var(--color-text-secondary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px;
  }
  
  /* Planes de membresía */
  .membership-section {
    padding: 40px;
    background-color: var(--color-text);
    text-align: center;
  }
  
  .membership-options {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .membership-card {
    background-color: var(--color-text);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .membership-button {
    background-color: var(--color-accent);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    color: var(--color-text);
  }
  
  .membership-button:hover {
    background-color: var(--color-accent-hover);
  }
  