.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    
  }

  .navbar-links {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .navbar-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links button {
    background-color: #5C54F7;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar-links button:hover {
    background-color: #4740c9;
  }
  